<div id="game" class="container-fluid">
  <h2>Test your knowledge!</h2>
  <hr>
  <h4>THE RULES</h4>
  <p>
    Select a language and set of words to begin. When you click on the text box
    and press Enter, your timer will start.  Type in the translation of the word,
    or press ESC to pass. 
  </p>
  <p>
    You have one minute to translate as many words as possible.  You can do it!
  </p>
  <hr>
  <div id="game-options" class="col-xs-12 col-sm-3">
    <h4>Game Options</h4>
    <hr>
    <div class="text-center">
      <%= select_tag "language",
        options_from_collection_for_select(@languages, "language_code", "name"),
        prompt: "Choose a language", id: "language-dropdown",
        class: "col-xs-12 col-sm-9" %>
      <br><br>
      Test me on the top<br><%= select_tag "words",
        options_for_select([50, 100, 200, 500], 200),
        id: "num-words" %><br>words, please!
      <br><br>
      <button id="game-start-button" type="button" class="btn btn-primary btn-lg disabled">START!</button>
    </div>
  </div>
  <div id="game-play" class="col-xs-12 col-sm-9 text-center my-hidden">
    <div id="clock_id"></div><br>
    <p id="word-prompt"></p>
    <input type="text" id="translation-field"><br><br>
    <div class="text-center col-xs-12">
      <p id="game-alerts" class="bg-danger"></p>
    </div>
    <table id="game-results" class="table table-bordered">
      <thead>
        <tr class="info">
          <th>Word</th>
          <th>Translation</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>