<h3>The team is awesome.</h3>

<ul>
  <a href="http://students.flatironschool.com/students/ArielCaplan.html" >
    <b>Ariel Caplan</b>
  </a><br>

  <a href="http://students.flatironschool.com/students/chriskohlbrenner.html" >
    <b>Chris Kohlbrenner</b>
  </a><br>

  <a href="http://students.flatironschool.com/students/JisuKim.html" >
    <b>Jisu Kim</b>
  </a><br>
</ul>