// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltip-inner {
  white-space: pre-wrap;
}

.words-container {
  columns: 200px 2;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;

}

#s2id_language-dropdown {
  width: 30%;
}


#s2id_page-dropdown {
  width: 15%;
}

.display-words {
  background-color: rgba(166,153,163,0.3);
  padding: 40px;
  border-radius:50px;
}