// Place all the styles related to the languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tooltip-inner {
  white-space: pre-wrap;
}

.words-container {
  columns: 200px 2;
  -webkit-columns: 200px 2;
  -moz-columns: 200px 2;

}

#s2id_index-dropdown {
  width: 30%;
}

#s2id_language-dropdown {
  width: 30%;
}


#s2id_page-dropdown {
  width: 15%;
}

#game {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;

  h2 {
    margin-top: 0;
  }
}

#game #s2id_language-dropdown {
  width: 100%;
}
.display-words {
  background-color: rgba(166,153,163,0.4);
  padding: 40px;
  height: 100%;
}

#previous-btn{
  font-size: 20px;
  width: 20%;
  vertical-align: bottom;
}

#next-btn{
  float: right;
  width: 20%;
  font-size: 20px;
}

li {
  margin-left: 10px
}

#page-num{
  float: right;
}

.nav-buttons {
  margin-bottom: 20px;
}