<section id="left-sidebar">
  <div class="logo">
    <a href="/" class="link-scroll"><h4>Language 80/20</h4></a>
  </div><!-- .logo -->

  <!-- Menu Icon for smaller viewports -->
  <div id="mobile-menu-icon" class="visible-xs" onClick="toggle_main_menu();"><span class="glyphicon glyphicon-th"></span></div>

  <ul id="main-menu">
    <li id="menu-item-text" class="menu-item scroll"><a href="/about">About</a></li>
    <li id="menu-item-carousel" class="menu-item scroll"><a href="/team">Team</a></li>
    <li id="menu-item-grid" class="menu-item scroll"><a href="/game">Game</a></li>
    <% unless @home %>
    <li id="menu-item-grid" class="menu-item scroll"><a href="/">Select another language</a>
      <%#= form_tag "/languages/select", method: 'get' do %>
      <%#= select_tag "language", options_from_collection_for_select(@languages, "language_code", "name"), prompt: "Choose a language to study", id: "nav-language-dropdown" %>
      <%# end %>
    </li>
    <% end %>
    <!-- <li id="menu-item-featured" class="menu-item scroll"><a href="#featured">Featured</a></li> -->
    <!-- <li id="menu-item-contact" class="menu-item scroll"><a href="#contact">Contact</a></li> -->
  </ul><!-- #main-menu -->

</section><!-- #left-sidebar -->